<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!--mysql 
    <add name="database" connectionString="server=localhost; user id=root; password=123456; database=plusoft_test;" providerName="MySql.Data.MySqlClient"/>-->

    <!--sqlserver -->
    <!--<add name="database" connectionString="server=DESKTOP-V4D9RI7; database=BookManager; user Id=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->

    <!--localdb 
    <add name="database" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Movies.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-V4D9RI7;Initial Catalog=BookManger;User ID=sa;Password=123456;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>